section {
    
    
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.blob {
    position: absolute; 
    width: 100%;
    top: -80px;
    transition: transform 0.5s ease;
}
/* .blob:hover {
    transform: scale(1.5) rotate(90deg); 
    transition: transform 0.5s ease; 
} */


.blob:nth-child(2) {
    
    filter: blur(15px);
}


