section {
    
    
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.blob {
    position: absolute; 
    width: 100%;
    top: -80px;
    
}

.blob:nth-child(2) {
    
    filter: blur(500px);
}
