.back-to-top-btn {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    color: yellow;
    font-size: 2rem;
}

.back-to-top-btn.show {
    display: block;
    opacity: 1; 
}